.ascii-surface {
    display: inline-block;
    white-space: pre;
    font-family: ui-monospace, monospace;
    line-height: 1.1;
    font-size: 13px;
    will-change: contents;
    transition: opacity 1s ease-in;
  }

  /* Responsive font sizing for ASCII art */
  @media (max-width: 768px) {
    .ascii-surface {
      font-size: 10px;
    }
  }

  @media (max-width: 575px) {
    .ascii-surface {
      font-size: 7px;
    }
  }


  [data-theme='light'] .ascii-invert-on-light {
    filter: invert(1) hue-rotate(180deg);
  }


  [data-theme='dark'] .ascii-invert-on-dark {
    filter: invert(1) hue-rotate(180deg);
  }
