.ascii-surface {
    display: inline-block;
    white-space: pre;
    font-family: ui-monospace, monospace;
    line-height: 1.1;
    font-size: 12px;
    will-change: contents;
    transition: opacity 1s ease-in;
  }
  