
.video-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: white;
    color: black;
  }
  
  .video-container {
    position: relative;
    overflow: hidden;
  }
  .ascii-scale {
    transform: scale(0.9);   /* adjust freely */
    transform-origin: center;
  }